fastapi
uvicorn[standard]
torch
gdown
torchvision
numpy
opencv-python-headless
python-multipart
pydantic
pillow
loguru
tqdm
thop
tabulate
psutil
pycocotools
onnx
onnxsim
rich
tensorboard
git+https://github.com/Megvii-BaseDetection/YOLOX.git
