fastapi
uvicorn[standard]
torch
torchvision
gdown
numpy
opencv-python-headless
python-multipart
pydantic
pillow
loguru
tqdm
thop
tabulate
psutil
pycocotools
onnx
onnxsim
rich
tensorboard
